.container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  
  @include screen-min(tablet) {
    background-color: #f6f6f6;
    margin: auto;
  }

  &--animate {
    animation: blurAppear $loader-duration ease-in-out forwards;
  }
  
}
