.container {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  
  @include screen-min(tablet) {
    background-color: #fdfdfd;
    margin: auto;
  }

  &--animate {
    animation: slowAppear $loader-duration ease-in-out forwards;
  }
  
}
