.footer {
  background-color: #353535;
  padding: 27px;
  padding-bottom: 40px;

  &__logo {
    a {
      @include font-titre();
      color: #ffffff;
      font-size: 1.3rem;
      padding-bottom: 12px;
    }
  }

  &__links {
    a {
      color: #ffffff;
      width: 100%;
      line-height: 1.6rem;
    }

    &--primary:hover {
      color: $color-primary;
    }

    &--secondary:hover {
      color: $color-secondary;
    }

    &--tertiary:hover {
      color: $color-tertiary;
    }

    i {
      width: 20px;
      text-align: center;
      margin-right: 8px;
    }

  }


}