.footer {
  background-color: #353535;
  padding: 27px;
  padding-bottom: 40px;

  &__logo {
    @include font-titre();
    color: #ffffff;
    font-size: 1.3rem;
    padding-bottom: 12px;
  }

  &__links {
    a {
      color: #ffffff;
      width: 100%;
      line-height: 1.6rem;
    }

    i {
      width: 20px;
      text-align: center;
      margin-right: 8px;
    }
    
  }
  
  @include screen-min (tablet) {
    padding-left: 15%;
  }

  @include screen-min (large) {
    padding-left: 10%;
  }

}
