.footer {
  background-color: #353535;
  padding: 27px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    width: 95%;
    margin: auto;
    text-align: center;
    border-radius: 25px;
  }

  &__logo {
    @include font-titre();
    color: #ffffff;
    font-size: 1.3rem;
    padding-bottom: 12px;
  }

  a {
    color: #ffffff;
    width: 100%;
    line-height: 1.6rem;
  }

  i {
    width: 20px;
    text-align: center;
    margin-right: 8px;
  }
}
