.header {
    width: 100%;
    height: 64px;

    padding-top: 24px;
    padding-bottom: 14px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    &__back {
        @include screen-min (tablet){
            visibility: hidden;
        }
        &--hidden {
            visibility: hidden;
        }
    }

    &::after {
        content: "";
    }

    @include screen-min (tablet) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @include screen-min (large) {
        height: 66px;
        padding-top: 24px;
        
    }

}
