.header {
    height: 66px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    &__back {
        &--hidden {
            visibility: hidden;
        }
    }

    &::after {
        content: "";
    }
}