main {
    
    @include screen-min(tablet) {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 30px;
        padding-bottom: 30px;
    }
}