.operation
{
    margin-top: 45px;
    margin-bottom: 70px;

    padding-left: 30px;
    padding-right: 30px;

    h1 {
        margin-bottom: 30px;
    }

    > * {
        margin-top: 25px;
        margin-bottom: 25x;
    }

    @include screen-min(tablet) {
        width: 50%;
        margin: 0;
        > h1 {
            margin-top: 10px;
        }
    }

    @include screen-min(desktop) {
        width: 40%;
    }

}