.presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #F6F6F6;

    &__image {
        width: 100%;
        height: 254px;

        @include screen (tablet) {
            height: 300px;
        }

        @include screen-min (desktop) {
            height: 500px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    &__content {
        width: 100%;

        @include screen-min (tablet) {
            width: 70%;
        }

        @include screen-min (large) {
            width: 80%;
        }
    }

    &__button {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
        width: 100%;
    }
}
