.restaurants {
    background-color: #f6f6f6;
    padding-top: 35px;
    padding-bottom: 20px;

    @include screen-min (tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: auto;
        border-radius: 25px;
        padding-top: 20px;
        margin-bottom: 30px;

        h2 {
            width: 100%;
            margin-bottom: 10px;
        }

        a {
            width: 45%;
        }
    }

    @include screen-min(large) {
        width: 60%;
    }

}
