@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.smooth_appear__1 {
  opacity: 0;
  animation: smoothAppear 1100ms ease-in-out forwards 1;
  animation-delay: 100ms;
}
.smooth_appear__2 {
  opacity: 0;
  animation: smoothAppear 1100ms ease-in-out forwards 1;
  animation-delay: 300ms;
}
.smooth_appear__3 {
  opacity: 0;
  animation: smoothAppear 1100ms ease-in-out forwards 1;
  animation-delay: 500ms;
}
.smooth_appear__4 {
  opacity: 0;
  animation: smoothAppear 1100ms ease-in-out forwards 1;
  animation-delay: 700ms;
}

@keyframes smoothAppear {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  background-color: inherit;
}

small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.55rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 1.65rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 20px;
}

strong {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.05rem;
}

small {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 0.95rem;
}

input {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.button {
  font-family: "Roboto", sans-serif;
  color: black;
  color: white;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
  text-align: center;
  padding: 14px 21px 14px 21px;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 5px 10px 1px #cecccc;
  border: 1px solid #cecccc;
}
@media screen and (min-width: 992px) {
  .button {
    font-size: 1.1rem;
  }
}

.button--wide {
  width: 190px;
  font-size: 1rem;
  font-weight: 450;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  margin-top: -40px;
  padding-top: 33px;
  padding: 22px;
  padding-left: 15px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  color: black;
}
.menu__title i {
  font-size: 1.7rem;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .menu__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.plat {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  border: #F4F4F4 1px solid;
  border-radius: 15px;
  margin-top: 12px;
  box-shadow: 1px 1px 15px #cecccc;
  padding: 13px;
  height: 70px;
}
.plat strong {
  width: 100%;
}
.plat small {
  width: 90%;
}

.restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 250px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 15px #cecccc;
  margin: 0 20px 20px 20px;
}
@media screen and (min-width: 768px) {
  .restaurant {
    margin: 0;
    margin-bottom: 25px;
  }
}
.restaurant__image {
  height: calc(100% - 75px);
  width: 100%;
}
.restaurant__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__image--nouveau::after {
  content: "Nouveau";
  position: absolute;
  margin-left: -93px;
  margin-top: 15px;
  color: #008766;
  background-color: #99e2d0;
  height: 30px;
  width: 80px;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
}
.restaurant__text {
  height: 75px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.restaurant__text .name {
  flex: 1;
}
.restaurant__text .name * {
  display: block;
  width: 100%;
  padding-left: 10px;
  line-height: 25px;
}
.restaurant__text .like {
  background-clip: text;
}
.restaurant__text .like i {
  text-align: right;
  padding-right: 20px;
  font-size: 1.6rem;
}
.restaurant__text .like .fa-heart-full {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1.5s;
  position: absolute;
  right: 20px;
}
.restaurant__text .like:hover .fa-heart-full {
  opacity: 1;
}
.restaurant__text .like:hover .fa-heart-empty {
  opacity: 0;
}

.searchbar {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 30px;
  border-top: 2px solid #cecccc;
}
.searchbar__location {
  background-color: #eaeaea;
  line-height: 48px;
  color: #4b4b4b;
}
@media screen and (min-width: 768px) {
  .searchbar__location {
    background-color: white;
  }
}
.searchbar__location input {
  margin-left: 10px;
  width: 145px;
}
@media screen and (min-width: 768px) {
  .searchbar__location input {
    font-size: 1.2rem;
    width: 195px;
    border-bottom: solid 2px #9356dc;
  }
}
.searchbar__title {
  width: 75%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 12px;
}
.searchbar__description {
  width: 98%;
  font-size: 1.1rem;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .searchbar__description {
    font-size: 1.2rem;
  }
}
.searchbar__button {
  margin: 25px;
}
@media screen and (min-width: 768px) {
  .searchbar {
    width: 45%;
    margin: 0;
    padding-bottom: 0;
    background-color: white;
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .searchbar {
    width: 30%;
  }
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #cecccc;
  height: 70px;
  width: 100%;
  margin-left: 10px;
}
.step:hover {
  background-color: #e4d5f6;
}
.step:hover .step__icon {
  color: #9356dc;
}
.step__number {
  color: white;
  background-color: #9356dc;
  font-size: 0.8rem;
  margin-left: -15px;
  border-radius: 100%;
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
}
.step__icon {
  width: 60px;
  text-align: center;
}
.step__text {
  font-weight: 500;
}

.footer {
  background-color: #353535;
  padding: 27px;
  padding-bottom: 40px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: black;
  color: #ffffff;
  font-size: 1.3rem;
  padding-bottom: 12px;
}
.footer__links a {
  color: #ffffff;
  width: 100%;
  line-height: 1.6rem;
}
.footer__links i {
  width: 20px;
  text-align: center;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 10%;
  }
}

.header {
  height: 64px;
  padding-top: 24px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.header__back--hidden {
  visibility: hidden;
}
.header::after {
  content: "";
}
@media screen and (min-width: 768px) {
  .header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 66px;
    padding-top: 24px;
    width: 100%;
  }
}

.operation {
  margin-top: 45px;
  margin-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
}
.operation h1 {
  margin-bottom: 30px;
}
.operation > * {
  margin-top: 25px;
  margin-bottom: 25x;
}
@media screen and (min-width: 768px) {
  .operation {
    width: 45%;
    margin: 0;
  }
  .operation > h1 {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .operation {
    width: 30%;
  }
}

.plats {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .plats {
    width: 30%;
  }
}
.plats__title {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  padding-bottom: 0.35rem;
}
.plats__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99e2d0;
}
.plats__list {
  width: 100%;
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #F6F6F6;
}
.presentation__image {
  width: 100%;
  height: 254px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__image {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .presentation__image {
    height: 500px;
  }
}
.presentation__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.presentation__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .presentation__content {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__content {
    width: 80%;
  }
}
.presentation__button {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 35px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .restaurants h2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .restaurants a {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .main.index {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer.index {
    padding-left: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
