.heart {
    display:block;
    height:70px;
    width:70px;
    cursor: pointer;
}

.heart .heart--empty {
    display: block;
    height: 70px;
    width: 70px;
    
    position: absolute;
    left: -1px;
    top: -4px;
    overflow: hidden;
    z-index: 3;
    
    transition: height 750ms ease-in-out;
}

.heart .heart--empty:before, .heart .heart--empty:after {
    content:"";
    
    background: white;
    border-radius: 85px 60px 0 0;
    
    height: $heart-height;
    width: $heart-width;
    
    position: absolute;
    left: 37px;
    top: 6px;
    
    border-radius: 85px 60px 0 0;
    
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart .heart--empty:after {
    left: 1px;
    
    border-radius: 45px 60px 0 0;

    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart .heart--full {
    position: relative;
    margin-left: 8px;
}

.heart .heart--full:before {
    background: linear-gradient(to top right, $color-primary, $color-secondary);
}

.heart .heart--full:after {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
}

.heart .heart--full:before, .heart .heart--full:after {
    content:"";
    border-radius: 85px 60px 0 0;

    width: $heart-width + $heart-offset;
    height: $heart-height + $heart-offset;

    position: absolute;
    left: 28px;
    top: 1px;

    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart .heart--full:after {
    left: -11px;

    border-radius: 45px 60px 0 0;

    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart:hover .heart--empty {
    height:0px;
}