
.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(white, 0.95);
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 50;
    animation: disappear $loader-duration * 3 ease-in-out forwards;
}

.loader--inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;
    color: $color-primary;
    padding: 0 100px;
    text-align: center;
}

.loader--inner label {
    font-size: $loader-bullet-size;
    opacity: 0;
    display: inline-block;
}

.loader--inner {
    @for $i from 1 through $loader-bullets {
        & label:nth-child(#{$i}) {
            @include leftToRightWithPauseProperties($i);
        }
    }
}


