
.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 50;
    animation: disappear $loader-duration ease-in-out forwards;

    &__inner {
        //transform: translateY(-50%);
        top: 50%;
        position: absolute;
        width: 100%;
        padding: 0 100px;
        text-align: center;

        label {
            font-size: $loader-bullet-size;
            opacity: 0;
            display: inline-block;
        }

        @for $i from 1 through $loader-bullets {
            label:nth-child(#{$i}) {
                @include leftToRightWithPauseProperties($i, $loader-bullets, $loader-bullet-duration, $loader-delay-offset);
            }
        }

    }
}
