.menu {
    background-color: #F6F6F6;
    border-radius: 50px 50px 0 0;
    margin-top: -40px;
    padding-top: 33px;
    padding: 22px;
    padding-left: 15px;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        
        @include screen-min (tablet) {
            padding-right: 10px;
        }

        .heart {
            transform: scale(0.4);
            height: 10px;
            @include screen-min (tablet) {
                transform: scale(0.5);
                height: 30px;
            }
        }
    }

    &__content {

        @include screen-min (large) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
    }

}