.plat {
    @include pointer();
    display: flex;

    background-color: #F6F6F6;
    border: #F4F4F4 0px solid;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(206, 204, 204);
    height: 65px;

    margin: 16px 0;
    padding: 8px;
    padding-left: 12px;

    max-width: 100%;
    overflow: hidden;

    line-height: 1.5rem;

    &__details {
        flex: 1;
        margin: 0;
        overflow: hidden;
    }

    &__title {
        font-weight: bold;
    }

    &__description {
        font-weight: 400;
    }

    &__title, &__description {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
    }

    &__checker {

        color: white;
        background-color: $color-tertiary;
        border: 1px solid $color-tertiary;
        border-radius: 0 15px 15px 0;
        position: relative;
        width: 70px;
        margin: -16px -86px -16px 16px;
        padding-right: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        transition-duration: 500ms;

        span {
            padding: 0px 4px;
            font-size: 1rem;
            color: $color-tertiary;
            background-color: white;
            border-radius: 100%;
            transition-duration: 700ms;
        }
    }

    &:hover {

        .plat__checker {
            margin: -16px -16px -16px 16px;
            span {
                transform: rotate(360deg);
            }
        }
    }

    @include screen-min (large) {
        &__title {
            font-size: 1.1rem;
        }
    
        &__description {
            font-size: 1rem;
        }

        &__price {
            font-size: 1.05rem;
        }
    }

}

