.restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 250px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgb(206, 204, 204);
  margin: 0 20px 20px 20px;

  @include screen-min (tablet) {
    margin: 0;
    margin-bottom: 25px;
  }

  &__image {
    height: calc(100% - 75px);
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    &--nouveau::after {
      content: "Nouveau";
      position: absolute;
      margin-left: -93px;
      margin-top: 15px;
      color: #008766;
      background-color: #99e2d0;
      height: 30px;
      width: 80px;
      font-weight: 500;
      text-align: center;
      padding-top: 5px;
      border-radius: 3px;
    }
  }

  &__text {
    height: 75px;
    width: 100%;
    border-radius: 0 0 20px 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .name {
      flex: 1;
      * {
        display: block;
        width: 100%;
        padding-left: 10px;
        line-height: 25px;
      }
    }
    .like {
        background-clip: text;
      i {
        text-align: right;
        padding-right: 20px;
        font-size: 1.6rem;
      }

      .fa-heart-full {
        background: linear-gradient(to top left, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 1.5s;
        position: absolute;
        right: 20px;
      }

      &:hover {
        .fa-heart-full {
            opacity: 1;
        }
        .fa-heart-empty {
            opacity: 0;
        }
      }

    }
  }
}

  