.searchbar {
  text-align: center;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 30px;
  border-top: 2px solid rgb(206, 204, 204);

  &__location {
    background-color: #eaeaea;
    line-height: 48px;
    color: #4b4b4b;

    @include screen-min(tablet) {
      background-color: inherit;
    }

    input {
      margin-left: 10px;
      width: 145px;

      @include screen-min(tablet) {
        font-size: 1.2rem;
        width: 195px;
        border-bottom: solid 2px $color-primary;
      }
    }
  }

  &__title {
    width: 75%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 12px;
  }

  &__description {
    width: 98%;
    font-size: 1.1rem;
    font-weight: 300;

    @include screen-min(desktop) {
      font-size: 1.2rem;
    }
  }

  &__button {
    margin: 25px;
  }

  @include screen-min (tablet) {
    width: 50%;
    margin: 0;
    padding-bottom: 0;
    border: none;
  }

  @include screen-min (desktop) {
    width: 40%;
  }
}
