.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgb(206, 204, 204);
  height: 70px;
  margin-left: 10px;

  &:hover {
    background-color: lighten($color-primary, 30%);
    .step__icon {
        color: $color-primary;
    }
  }

  &__number {
    color: white;
    background-color: $color-primary;
    font-size: 0.8rem;
    margin-left: -15px;
    border-radius: 100%;
    padding-left: 9px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
  }

  &__icon {
    width: 60px;
    text-align: center;
  }

  &__text {
    font-weight: 500;
  }
}
