@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  @include font-texte();
}

h1 {
  @include font-texte();
  font-size: 1.55rem;

  @include screen-min (desktop) {
    font-size: 1.65rem;
  }
}

h2 {
  @include font-texte();
  padding: 20px;
}

strong {
  @include font-texte();
  font-size: 1.05rem;
}

small {
  @include font-texte();
  font-size: 0.95rem;
}

input {
  @include font-texte();
  font-weight: 500;
  font-size: 1rem;
}
