.smooth_appear {
    @for $i from 1 through 4 {
        &__#{$i} {
            @include smoothAppearProperties($i);
        }
    }
}

@keyframes smoothAppear {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes leftToRightWithPause {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    99% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes blurAppear {
    0% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
        z-index: 100;
    }
}

@keyframes disappear {
    0% {
    }
    100% {
        opacity: 0;
        z-index: -100;
    }
}

