// breakpoints

$width-xs: 0;
$width-sm: 767px;
$width-md: 991px;
$width-lg: 1199px;
$width-xl: 1200px;

// colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
