// colors

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// breakpoints

$breakpoints: (
  mobile: (
    max: 767px,
  ),
  tablet: (
    min: 768px,
    max: 991px,
  ),
  desktop: (
    min: 992px,
    max: 1199px,
  ),
  large: (
    min: 1200px,
  ),
);

// animations

$smooth-appear-duration: 1100ms;
$smooth-appear-delay: 100ms;
$smooth-appear-delay-offset: 200ms;

// loader
$loader-bullets: 6;
$loader-bullet-size: 40px;
$loader-bullet-duration: 3s;
$loader-delay: 0ms;
$loader-delay-offset: 150ms;

$loader-duration: $loader-bullet-duration + ($loader-bullets * $loader-delay-offset);
